section {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media (max-width: 576px) {
  section {
    padding: 15px 0;
  }
}

section .title {
  text-align: center;
  font-size: 1.25rem;
}

section .title h1 {
  display: inline-block;
  font-weight: 500;
}

section .title h1 hr {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
  border-radius: inherit;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58px;
  z-index: 9999999;
  background-color: transparent;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

header[active="true"], header.open {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px 1px #00000017;
          box-shadow: 0px 2px 4px 1px #00000017;
  border-bottom: 1px solid #00000017;
  -webkit-animation: header-animation .5s ease-in-out;
          animation: header-animation .5s ease-in-out;
}

@-webkit-keyframes header-animation {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  75% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes header-animation {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  75% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

header[active="true"] .container-fluid, header.open .container-fluid {
  opacity: 0;
  -webkit-animation: opacity-animation 1s linear forwards;
          animation: opacity-animation 1s linear forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .container-fluid {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem 0;
}

header .container-fluid .navbar-icon {
  display: none;
  position: relative;
  width: 48px;
  height: 36px;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .container-fluid .navbar-icon {
    display: block;
  }
}

header .container-fluid .navbar-icon:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: .2 transform ease-in-out;
  transition: .2 transform ease-in-out;
}

header .container-fluid .navbar-icon:hover span.bar:nth-child(2) {
  width: 50%;
  left: 0;
  -webkit-transition: .2 width ease-in-out;
  transition: .2 width ease-in-out;
}

header .container-fluid .navbar-icon span.bar {
  display: block;
  position: absolute;
  height: 4px;
  width: 75%;
  margin-left: 6px;
  background: #00508c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header .container-fluid .navbar-icon span.bar:nth-child(1) {
  top: 6px;
}

header .container-fluid .navbar-icon span.bar:nth-child(2) {
  top: 16px;
}

header .container-fluid .navbar-icon span.bar:nth-child(3) {
  top: 26px;
}

header .container-fluid .navbar-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .container-fluid .navbar-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

header .container-fluid .navbar-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

header .container-fluid .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  header .container-fluid .navbar-collapse {
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    padding: 8px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2), 0px 8px 7px 3px rgba(0, 0, 0, 0.14), 0px 10px 8px -4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2), 0px 8px 7px 3px rgba(0, 0, 0, 0.14), 0px 10px 8px -4px rgba(0, 0, 0, 0.12);
  }
  header .container-fluid .navbar-collapse .nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
  }
  header .container-fluid .navbar-collapse .nav-item button {
    width: 100%;
  }
  header .container-fluid .navbar-collapse .nav-item button a {
    width: 100%;
    text-align: left;
  }
}

header .container-fluid .navbar-collapse.open {
  top: 50px;
  opacity: 1;
  background-color: #ffffff;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

header .container-fluid .nav-item {
  text-align: center;
  margin-right: 10px;
}

header .container-fluid .nav-item:last-child {
  margin-right: 0;
}

header .container-fluid .nav-item a {
  display: block;
  color: #000000;
  padding: 12px 35px;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 992px) and (min-width: 768px) {
  header .container-fluid .nav-item a {
    padding: 12px 26px;
  }
}

header .container-fluid .nav-item button.sp-btn {
  font-weight: 500;
  color: #ffffff;
  background-color: #00508c;
  text-transform: none;
}

header .container-fluid .blankspace {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#sp-home {
  background: url(/bg.svg) no-repeat;
  background-size: cover;
  background-position: center center;
}

section#sp-home .container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

section#sp-home .container .row {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  section#sp-home .container .row {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
}

section#sp-home .container .row.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  max-width: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  opacity: 0;
}

@media (min-width: 768px) {
  section#sp-home .container .row.animation.active {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  section#sp-home .container .row.animation.active {
    -ms-flex-preferred-size: 0% !important;
        flex-basis: 0% !important;
    max-width: 0% !important;
    opacity: 0 !important;
    padding: 0 !important;
  }
}

section#sp-home .container .row.animation.active .content-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  max-width: 0%;
  opacity: 0;
}

section#sp-home .container .row.animation.active .content-info.animate-show {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  opacity: 1;
}

section#sp-home .container .row.animation.active .content-info.animate-show h1 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation: 1s fadeInLeft ease-in-out;
          animation: 1s fadeInLeft ease-in-out;
}

section#sp-home .container .row.animation.active .content-info.animate-show p {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation: 1.25s fadeInLeft ease-in-out;
          animation: 1.25s fadeInLeft ease-in-out;
}

section#sp-home .container .row.animation.active .content-info.animate-show button {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation: 1.4s translateTop ease-in-out;
          animation: 1.4s translateTop ease-in-out;
}

section#sp-home .container .row.animation.active .content-info.fadeLeft {
  -webkit-transition: max-width  .2s linear, -webkit-flex-basis .2s linear;
  transition: max-width  .2s linear, -webkit-flex-basis .2s linear;
  transition: flex-basis .2s linear, max-width  .2s linear;
  transition: flex-basis .2s linear, max-width  .2s linear, -webkit-flex-basis .2s linear, -ms-flex-preferred-size .2s linear;
  opacity: 0;
}

section#sp-home .container .row.animation.active .content-info.fadeLeft h1 {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  -webkit-animation: 1.5s fadeInRight ease-in-out;
          animation: 1.5s fadeInRight ease-in-out;
}

section#sp-home .container .row.animation.active .content-info.fadeLeft p {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation: 1.5s fadeInRight ease-in-out;
          animation: 1.5s fadeInRight ease-in-out;
}

section#sp-home .container .row.animation.active .content-info.fadeLeft button {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
  -webkit-animation: 1.5s translateButton ease-in-out;
          animation: 1.5s translateButton ease-in-out;
}

section#sp-home .container .row.animation.active .btn-control {
  opacity: 1;
}

section#sp-home .container .row.animation .content-info h1 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  opacity: 1;
}

section#sp-home .container .row.animation .content-info p {
  text-align: justify;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

section#sp-home .container .row.animation .content-info button {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #ef7100;
  padding: 12px 20px;
  opacity: 1;
}

section#sp-home .container .row.animation .btn-control {
  position: absolute;
  width: 100%;
  bottom: 12vw;
  z-index: 999999;
  -webkit-perspective: 880px;
          perspective: 880px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  opacity: 0;
}

section#sp-home .container .row.animation .btn-control ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

section#sp-home .container .row.animation .btn-control ul li {
  display: inline-block;
  margin-right: 5px;
}

section#sp-home .container .row.animation .btn-control ul li a.pointer {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 1000%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: -3px 3px 6px 2px #00000017;
          box-shadow: -3px 3px 6px 2px #00000017;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#sp-home .container .row.animation .btn-control ul li a.pointer.active {
  -webkit-transform: translate3d(0px, -1px, 1px);
          transform: translate3d(0px, -1px, 1px);
  -webkit-perspective: 550px;
          perspective: 550px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 6px 6px 6px 2px #0000001c;
          box-shadow: 6px 6px 6px 2px #0000001c;
}

section#sp-home .container .row.animation .btn-control ul li:nth-child(2) a {
  background-color: #f9bf12;
}

section#sp-home .container .row.animation .btn-control ul li:nth-child(3) a {
  background-color: #ef7100;
}

section#sp-home .container .row.animation .btn-control ul li:last-child {
  margin-right: 0;
}

section#sp-home .container .row.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  section#sp-home .container .row.logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding-top: 5rem;
  }
}

@media (max-width: 520px) {
  section#sp-home .container .row.logo {
    padding-top: 12.5rem;
  }
}

section#sp-home .container .row .circle {
  width: 225px;
  height: 225px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 12px 1px #00000017;
          box-shadow: -1px 1px 12px 1px #00000017;
  z-index: 2;
}

@media (max-width: 768px) {
  section#sp-home .container .row .circle {
    width: 185px;
    height: 185px;
  }
}

@media (max-width: 520px) {
  section#sp-home .container .row .circle {
    width: 150px;
    height: 150px;
  }
}

section#sp-home .container .row .circle .buho {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#sp-home .container .row .circle .buho img {
  width: 100%;
  height: 100%;
}

section#sp-home .container .row .title {
  text-align: center;
  color: #ffffff;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  section#sp-home .container .row .title {
    margin-top: 5rem;
  }
}

@media (max-width: 520px) {
  section#sp-home .container .row .title {
    margin-top: 8.5rem;
  }
}

section#sp-home .container .row .title h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  section#sp-home .container .row .title h1 {
    font-size: 1.6em;
    letter-spacing: 1.2px;
  }
}

section#sp-home .container .arrow-down {
  position: absolute;
  display: block;
  width: 65px;
  margin: 0 auto;
  margin-top: 2.5vw;
  margin-bottom: 2vw;
  z-index: 4;
  bottom: 0;
}

section#card-info {
  background-color: #007bd6;
  display: none;
  height: 55vh;
}

@media (max-width: 768px) {
  section#card-info {
    display: block;
    height: 60vh;
  }
}

section#card-info .container {
  padding-top: 4vw;
  padding-bottom: 4vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#card-info .container .content-info.animate-show {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  max-width: 80%;
  opacity: 1;
}

section#card-info .container .content-info.animate-show h1 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  opacity: 1;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation: 1s fadeInLeft ease-in-out;
          animation: 1s fadeInLeft ease-in-out;
}

section#card-info .container .content-info.animate-show p {
  color: #ffffff;
  text-align: justify;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation: 1.25s fadeInLeft ease-in-out;
          animation: 1.25s fadeInLeft ease-in-out;
}

section#card-info .container .content-info.animate-show button {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #ef7100;
  padding: 12px 20px;
  opacity: 1;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation: 1.4s translateTop ease-in-out;
          animation: 1.4s translateTop ease-in-out;
}

section#card-info .container .content-info.fadeLeft {
  display: none;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 0;
  opacity: 0;
}

section#card-info .container .content-info.fadeLeft h1 {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  -webkit-animation: 1.5s fadeInRight ease-in-out;
          animation: 1.5s fadeInRight ease-in-out;
}

section#card-info .container .content-info.fadeLeft p {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation: 1.5s fadeInRight ease-in-out;
          animation: 1.5s fadeInRight ease-in-out;
}

section#card-info .container .content-info.fadeLeft button {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
  -webkit-animation: 1.5s translateButton ease-in-out;
          animation: 1.5s translateButton ease-in-out;
}

section#card-info .container .btn-control {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999999;
  -webkit-perspective: 880px;
          perspective: 880px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  opacity: 1;
}

@media (max-width: 567px) {
  section#card-info .container .btn-control {
    bottom: 0;
  }
}

section#card-info .container .btn-control ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

section#card-info .container .btn-control ul li {
  display: inline-block;
  margin-right: 5px;
}

section#card-info .container .btn-control ul li a.pointer {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 1000%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: -3px 3px 6px 2px #00000017;
          box-shadow: -3px 3px 6px 2px #00000017;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#card-info .container .btn-control ul li a.pointer.active {
  -webkit-transform: translate3d(0px, -1px, 1px);
          transform: translate3d(0px, -1px, 1px);
  -webkit-perspective: 550px;
          perspective: 550px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 6px 6px 6px 2px #0000001c;
          box-shadow: 6px 6px 6px 2px #0000001c;
}

section#card-info .container .btn-control ul li:nth-child(2) a {
  background-color: #f9bf12;
}

section#card-info .container .btn-control ul li:nth-child(3) a {
  background-color: #ef7100;
}

section#card-info .container .btn-control ul li:last-child {
  margin-right: 0;
}

section#sp-lession, section#sp-teacher-choose {
  background: url(/bg-reverse.svg);
  background-size: cover;
  background-position: center center;
}

section#sp-lession .container, section#sp-teacher-choose .container {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

section#sp-lession .container .title h1, section#sp-teacher-choose .container .title h1 {
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 768px) {
  section#sp-lession .container .title h1, section#sp-teacher-choose .container .title h1 {
    margin: 0;
  }
}

section#sp-lession .container .title h1 hr, section#sp-teacher-choose .container .title h1 hr {
  color: #ffffff;
}

section#sp-lession .container .content, section#sp-teacher-choose .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  section#sp-lession .container .content, section#sp-teacher-choose .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section#sp-lession .container .content .row, section#sp-teacher-choose .container .content .row {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  height: 60vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row, section#sp-teacher-choose .container .content .row {
    padding: 0;
    height: 45vh;
    width: 100%;
  }
}

section#sp-lession .container .content .row.text-content, section#sp-teacher-choose .container .content .row.text-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.text-content, section#sp-teacher-choose .container .content .row.text-content {
    padding: 0;
    height: 26vh;
  }
}

section#sp-lession .container .content .row.text-content .text-card, section#sp-teacher-choose .container .content .row.text-content .text-card {
  display: none;
  width: 100%;
  opacity: 0;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.text-content .text-card, section#sp-teacher-choose .container .content .row.text-content .text-card {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 576px) {
  section#sp-lession .container .content .row.text-content .text-card, section#sp-teacher-choose .container .content .row.text-content .text-card {
    padding-left: 15px;
    padding-right: 15px;
  }
}

section#sp-lession .container .content .row.text-content .text-card.show, section#sp-teacher-choose .container .content .row.text-content .text-card.show {
  display: block;
  opacity: 1;
  -webkit-animation: opacity-text .5s ease-in-out;
          animation: opacity-text .5s ease-in-out;
}

@-webkit-keyframes opacity-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section#sp-lession .container .content .row.text-content .text-card .title, section#sp-teacher-choose .container .content .row.text-content .text-card .title {
  text-align: center;
  color: #ffffff;
}

section#sp-lession .container .content .row.text-content .text-card .title span.badge, section#sp-teacher-choose .container .content .row.text-content .text-card .title span.badge {
  float: left;
  padding: .15em .6em;
  background-color: #ffffff;
  border-radius: 1000%;
  color: #000000;
  font-size: 0.80em;
}

section#sp-lession .container .content .row.text-content .text-card .title h3, section#sp-teacher-choose .container .content .row.text-content .text-card .title h3 {
  margin: 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.text-content .text-card .title h3, section#sp-teacher-choose .container .content .row.text-content .text-card .title h3 {
    color: #000000;
  }
}

section#sp-lession .container .content .row.text-content .text-card .description, section#sp-teacher-choose .container .content .row.text-content .text-card .description {
  text-align: justify;
  color: #ffffff;
}

section#sp-lession .container .content .row.text-content .text-card .description p, section#sp-teacher-choose .container .content .row.text-content .text-card .description p {
  padding: 18px 50px;
}

@media (max-width: 576px) {
  section#sp-lession .container .content .row.text-content .text-card .description p, section#sp-teacher-choose .container .content .row.text-content .text-card .description p {
    padding: 15px 15px;
  }
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.text-content .text-card .description, section#sp-teacher-choose .container .content .row.text-content .text-card .description {
    color: #000000;
  }
}

section#sp-lession .container .content .row.cards-content, section#sp-teacher-choose .container .content .row.cards-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1.45;
      -ms-flex: 1.45;
          flex: 1.45;
  padding: 15px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.cards-content, section#sp-teacher-choose .container .content .row.cards-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    padding: 0;
    width: 100%;
  }
}

section#sp-lession .container .content .row.cards-content .card, section#sp-teacher-choose .container .content .row.cards-content .card {
  position: absolute;
  width: 22.5vw;
  height: 23vw;
  max-width: 450px;
  max-height: 450px;
  min-width: 300px;
  min-height: 300px;
  top: -99999px;
  left: 0;
  right: 0;
  bottom: -99999px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #00000017;
  -webkit-box-shadow: 6px 6px 20px 6px #00000017;
          box-shadow: 6px 6px 20px 6px #00000017;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

@media (max-width: 576px) {
  section#sp-lession .container .content .row.cards-content .card, section#sp-teacher-choose .container .content .row.cards-content .card {
    min-width: 285px;
    min-height: 285px;
  }
}

section#sp-lession .container .content .row.cards-content .card.active, section#sp-teacher-choose .container .content .row.cards-content .card.active {
  -webkit-transform: translateX(0px) translateY(0px) !important;
          transform: translateX(0px) translateY(0px) !important;
  z-index: 4;
  -webkit-animation: cardOpacity 1s;
          animation: cardOpacity 1s;
}

@-webkit-keyframes cardOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cardOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section#sp-lession .container .content .row.cards-content .card_1, section#sp-teacher-choose .container .content .row.cards-content .card_1 {
  -webkit-transform: translateX(60px) translateY(60px);
          transform: translateX(60px) translateY(60px);
  z-index: 3;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.cards-content .card_1, section#sp-teacher-choose .container .content .row.cards-content .card_1 {
    -webkit-transform: translateX(0px) translateY(0px) !important;
            transform: translateX(0px) translateY(0px) !important;
  }
}

section#sp-lession .container .content .row.cards-content .card_2, section#sp-teacher-choose .container .content .row.cards-content .card_2 {
  -webkit-transform: translateX(80px) translateY(80px);
          transform: translateX(80px) translateY(80px);
  z-index: 2;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.cards-content .card_2, section#sp-teacher-choose .container .content .row.cards-content .card_2 {
    -webkit-transform: translateX(0px) translateY(0px) !important;
            transform: translateX(0px) translateY(0px) !important;
  }
}

section#sp-lession .container .content .row.cards-content .card_3, section#sp-teacher-choose .container .content .row.cards-content .card_3 {
  -webkit-transform: translateX(100px) translateY(100px);
          transform: translateX(100px) translateY(100px);
  z-index: 1;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.cards-content .card_3, section#sp-teacher-choose .container .content .row.cards-content .card_3 {
    -webkit-transform: translateX(0px) translateY(0px) !important;
            transform: translateX(0px) translateY(0px) !important;
  }
}

section#sp-lession .container .content .row.cards-content .btn-control, section#sp-teacher-choose .container .content .row.cards-content .btn-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 999999;
  -webkit-perspective: 880px;
          perspective: 880px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@media (max-width: 768px) {
  section#sp-lession .container .content .row.cards-content .btn-control, section#sp-teacher-choose .container .content .row.cards-content .btn-control {
    bottom: -200px;
  }
}

@media (max-width: 576px) {
  section#sp-lession .container .content .row.cards-content .btn-control, section#sp-teacher-choose .container .content .row.cards-content .btn-control {
    bottom: -230px;
  }
}

section#sp-lession .container .content .row.cards-content .btn-control ul, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li {
  display: inline-block;
  margin-right: 5px;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li a.pointer, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li a.pointer {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 1000%;
  background-color: #007bd6;
  cursor: pointer;
  -webkit-box-shadow: -3px 3px 6px 2px #00000017;
          box-shadow: -3px 3px 6px 2px #00000017;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li a.pointer.active, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li a.pointer.active {
  -webkit-transform: translate3d(0px, -1px, 1px);
          transform: translate3d(0px, -1px, 1px);
  -webkit-perspective: 550px;
          perspective: 550px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 6px 6px 6px 2px #0000001c;
          box-shadow: 6px 6px 6px 2px #0000001c;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li:nth-child(2) a, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li:nth-child(2) a {
  background-color: #f9bf12;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li:nth-child(3) a, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li:nth-child(3) a {
  background-color: #ef7100;
}

section#sp-lession .container .content .row.cards-content .btn-control ul li:last-child, section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li:last-child {
  margin-right: 0;
}

section#sp-offer, section#sp-need {
  height: auto;
}

section#sp-offer .container, section#sp-need .container {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

section#sp-offer .container .content, section#sp-need .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#sp-offer .container .content .row, section#sp-need .container .content .row {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  min-width: 330px;
  min-height: 428px;
  max-width: 33.333333%;
}

@media (max-width: 768px) {
  section#sp-offer .container .content .row, section#sp-need .container .content .row {
    margin-bottom: 15px;
  }
}

section#sp-offer .container .content .row.line-p, section#sp-need .container .content .row.line-p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-weight: 500;
  font-size: 1.2em;
}

section#sp-offer .container .content .row .card-blank, section#sp-need .container .content .row .card-blank {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vw;
  min-width: 300px;
  min-height: 350px;
}

section#sp-offer .container .content .row .card-blank .content-circle, section#sp-need .container .content .row .card-blank .content-circle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#sp-offer .container .content .row .card-blank .content-circle .circle, section#sp-need .container .content .row .card-blank .content-circle .circle {
  display: block;
  margin: 0 auto;
  background-color: #007bd6;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#sp-offer .container .content .row .card-blank .text-content, section#sp-need .container .content .row .card-blank .text-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#sp-offer .container .content .row .card-blank .text-content h2, section#sp-need .container .content .row .card-blank .text-content h2 {
  text-align: center;
  color: #000000;
  font-weight: 500;
}

section#sp-offer .container .content .row .card-blank .text-content p, section#sp-need .container .content .row .card-blank .text-content p {
  text-align: justify;
  color: #5e5e5e;
  font-weight: 400;
  font-size: 1.1em;
}

section#sp-need .container .content .row {
  max-height: 300px;
  min-height: 300px;
}

section#sp-need .container .content .row.line-p {
  max-height: inherit;
  min-height: auto;
  padding: 0;
}

section#sp-need .container .content .row .card-blank {
  height: auto !important;
}

@media (max-width: 768px) {
  section#sp-need .container .content .row .card-blank {
    min-height: 260px !important;
  }
}

section#sp-need .container .content .row .card-blank .content-circle .circle {
  background-color: #f9bf12 !important;
}

section#sp-teacher-choose {
  background: url(/bg-reverse-yellow.svg);
}

section#sp-teacher-choose .container .title h1 {
  color: #000000;
}

section#sp-teacher-choose .container .title h1 hr {
  color: #f9bf12;
}

@media (max-width: 768px) {
  section#sp-teacher-choose .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#sp-teacher-choose .container .content .row.text-content .text-card .title {
  color: #000000;
}

section#sp-teacher-choose .container .content .row.text-content .text-card .title span.badge {
  background-color: #f9bf12;
  color: #ffffff;
}

@media (max-width: 768px) {
  section#sp-teacher-choose .container .content .row.text-content .text-card .title span.badge {
    background-color: #ffffff;
    color: #000000;
  }
}

section#sp-teacher-choose .container .content .row.text-content .text-card .description {
  color: #000000;
}

section#sp-teacher-choose .container .content .row.cards-content .card_1 {
  -webkit-transform: translateX(-60px) translateY(60px);
          transform: translateX(-60px) translateY(60px);
  z-index: 3;
}

section#sp-teacher-choose .container .content .row.cards-content .card_2 {
  -webkit-transform: translateX(-80px) translateY(80px);
          transform: translateX(-80px) translateY(80px);
  z-index: 2;
}

section#sp-teacher-choose .container .content .row.cards-content .card_3 {
  -webkit-transform: translateX(-100px) translateY(100px);
          transform: translateX(-100px) translateY(100px);
  z-index: 1;
}

@media (max-width: 768px) {
  section#sp-teacher-choose .container .content .row.cards-content .btn-control {
    bottom: -200px;
  }
}

@media (max-width: 768px) {
  section#sp-teacher-choose .container .content .row.cards-content .btn-control ul li:nth-child(2) a {
    background-color: #ffffff;
  }
}

footer {
  background-color: #303030;
  padding: 15px;
}

footer .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
}

footer .container .content .row {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
}

@media (max-width: 768px) {
  footer .container .content .row {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

footer .container .content .row.footer-small-button {
  border-top: 1px solid #ffffff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
}

footer .container .content .row h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.45em;
  margin: 0;
}

footer .container .content .row ul {
  list-style: none;
  padding: 0;
}

footer .container .content .row ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0px;
  display: block;
}

footer .container .content .row.share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .content .row.share ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  max-width: 33.3333%;
}

footer .container .content .row.share ul li a {
  text-align: center;
  font-size: 2.5rem;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes translateTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translateTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes translateButton {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translateButton {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */