html, body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

#root {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.google {
  color: #eb5244;
}

.facebook {
  color: #3b5998;
}

.icon-button {
  padding-right: 5px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: transparent !important;
}
/*# sourceMappingURL=index.css.map */